body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#landingPhoto {
    background: url("../images/landingdark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    display: table;
    width: 100%;
}
#landingContent {
    display: table-cell;
    vertical-align: middle;
}
#aboutMe {
    background-color: #f26522;
    color: #fff;
}
